@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  width: 100%;
  max-width: 414px;
  background: #0f0f2c;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: auto;
}
/* The nav bar settings */
.nav {
  width: 70%;
  margin: auto;
  background: rgb(85, 86, 87);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px 0;
}
input {
  padding: 15px 0 ;
  /* margin: 20px 0px; */
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  
}
input:focus {
  color: rgb(0, 0, 0);
  font-size: small;
  font-weight: 700;
  border: 1px solid rgb(0, 149, 248);
}
button{
  padding: 15px 0;
  width: 90%;
  border: none;
  background: rgba(4, 118, 212);
  color: #fff;
  cursor: pointer;
  margin: auto;
}
button:hover{
  background: rgba(4, 118, 212, 0.726);
}
.container-today {
  width: 70%;
  padding: 1px;
  background: rgb(2, 28, 99);
  margin: auto;
}
.today h4 {
  text-align: center;
}

.testing-summary{
  background: rgb(15, 15, 44);
  /* background: #000; */
  width: 70%;
  margin: auto;
}

.testing-summary h2 {
  text-align: center;
}

.testing{
  text-align: center;
  background: rgb(60, 177, 7);
  width: 70%;
  margin: auto;
  padding: 3px 0;
}

.summary-title{
  padding: 10px 0 ;
  display: flex;
  font-size: 12px;
  width: 70%;
  margin: auto;
}
.chart{
  flex-grow: 2;

}
.chart h3 {
  text-align: center;
}
.charts{
  flex-grow: 2;
}
.summary{
  display: flex;
  background: rgb(168, 145, 13);
  margin: auto;
  width: 70%;
  text-align: center;
}
.critical {
  /* background: #000;168, 145, 13 */
  background: rgb(168, 145, 13);
  padding: 10px 0;
}

.recovered {
  /* background: #000;168, 145, 13 */
  background: rgb(6, 100, 207);
  padding: 10px 15px;
}

#totalDeaths {
  /* background: #000;168, 145, 13 */
  background: rgb(5, 214, 5);
  padding: 10px 0;
}

#active {
  /* background: #000;168, 145, 13 */
  background: rgb(97, 8, 5);
  padding: 10px 0;
}

.footer {
  text-align: center;
  margin-bottom: 10px;
}
.footer i {
  color: red;
}
a {
  color: #fff;
  text-decoration: underline;
}
.center {
  text-align: center;
  background: rgb(14, 21, 53);
  padding: 30px;
}
/* media queries for larger screens */
@media screen and (min-width : 800px){
  body{
    /* background: rgb(29, 14, 95); */
    max-width: 1200px;
  }
  .nav{
    display: flex;
    flex-direction: row;
  }
  input {
    padding: 15px 0 ;
    margin: 20px;
    width: 80%;
    text-align: center;
  }
  button {
    width: 100px;
    /* background: #000; */
  }
  .container-today{
    display: flex;
    background: fff;
    border: none;
    padding: 30px 0;
    background: rgb(15, 15, 44);
    /* background: #000; */
    margin-bottom: -10px;
  }
  .deaths-today{
    background: rgb(88, 15, 15);
  }

  .cases-today{
    background: rgb(4, 116, 14);
  }
  .today {
    flex-grow: 2;
  }
  .testing-summary{
    padding: 2px 0;
    margin: auto;
    margin-bottom: 5px;
  }

}
/*  completed */
